/* ==UserStyle==
@name           Lichess.org - Light - Minimalistic Lobby
@namespace      https://github.com/MyCodeIsntWorking/Stylus/tree/master/lichess.org
@version        1.0.8
@description    Light - Minimalistic Lobby
@author         BrainAFK
@homepageURL    https://github.com/MyCodeIsntWorking/Stylus/tree/master/lichess.org
@supportURL     https://github.com/MyCodeIsntWorking/Stylus/issues
@updateURL      https://raw.githubusercontent.com/MyCodeIsntWorking/Stylus/master/lichess.org/light-minimalistic-lobby.user.css
==/UserStyle== */

@-moz-document url-prefix("https://lichess.org/") {
    /*********************************/
    /*                               */
    /*         LAST UPDATE:          */
    /*                               */
    /*      30/06/2021 - 07:40       */
    /*                               */
    /*-------------------------------*/
    /*                               */
    /*           VERSION:            */
    /*                               */
    /*            1.0.8              */
    /*                               */
    /*********************************/


    /*********************************/
    /*                               */
    /*    ANNOUNCE & RECONNECTING    */
    /*                               */
    /*********************************/
    #reconnecting,
    #announce.announce {
        background: #BA3030;
    }




    /*********************************/
    /*                               */
    /*             EVENTS            */
    /*                               */
    /*********************************/
    .event .countdown .days,
    .event .countdown .hours,
    .event .countdown .minutes,
    .event .countdown .seconds,
    .event .headline {
        color: #629924;
    }





    /*********************************/
    /*                               */
    /*             LOBBY             */
    /*                               */
    /*********************************/
    .lobby__leaderboard,
    .lobby__winners,
    .lobby__tournaments,
    .lobby__forum,
    .about-side,
    .lobby__tv,
    .lobby__puzzle,
    .lobby__simuls {
        display: none !important;
    }

    .lobby__blog {
        margin-top: -30px;
    }


    /* Left Table */
    .lobby__side {
        border-radius: 3px;
        background: #FFFFFF;
        margin-right: -7px;
        margin-top: 2.3em;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    }

    .lobby__streams {
        border: 1px solid #D9D9D9;
        border-radius: 3px;
        background: #FFFFFF;
        width: 93.5%;
        margin-top: 10px;
        margin-left: 10px;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    }

    .lobby__streams .stream {
        width: 94.5%;
        margin-top: 0.7em;
        margin-bottom: 0.7em;
        margin-left: 5px;
    }

    .lobby__spotlights {
        border: 1px solid #D9D9D9;
        border-radius: 3px;
        background: #FFFFFF;
        width: 93.5%;
        margin-top: 11px;
        margin-left: 10px;
    }

    .timeline {
        border: 1px solid #D9D9D9;
        border-radius: 3px;
        background: #FFFFFF;
        width: 93.5%;
        margin-top: 11px;
        margin-left: 10px !important;
        max-height: 53%;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    }

    .timeline .entry {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(180deg, rgba(218, 233, 247, .2), rgba(208, 224, 237, .4) 100%);
        transition: all 150ms;
    }

    .timeline .entry:hover {
        background: linear-gradient(180deg, rgba(218, 233, 247, .4), rgba(208, 224, 237, .8) 75%);
    }

    .timeline .entry::after {
        background: rgba(218, 233, 247, .1);
        margin-top: 0.1em;
        margin-bottom: 0.1em;
    }


    /* Right Table */
    .bg-switch {
        display: unset;
        visibility: visible;
        z-index: 1;
        margin-top: 4em;
        margin-left: 6.4em;
        opacity: 0.7;
    }


    .lobby__table {
        background-color: #FFFFFF;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
        border-radius: 3px;
        height: 797px;
        width: 224px;
        margin-top: 33px;
        margin-left: -7px;
    }

    .button.button-metal.config_hook,
    .button.button-metal.config_friend,
    .button.button-metal.config_ai,
    .lobby__counters {
        margin-left: 9px;
    }

    .button.button-metal.config_hook {
        height: 186px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 1px solid #D9D9D9;
        box-shadow: 0 4px 10px 0px rgb(0 0 0 / 0%);
        background: #FFFFFF url(https://raw.githubusercontent.com/MyCodeIsntWorking/Lichess.org/main/Stylus/images/hook.png);
        background-repeat: no-repeat;
        background-position: center;
        color: #4D4D4D;
        transition: all 150ms;
        width: 205px;
        margin-top: 7em;
        font-size: 14px;
        font-weight: 600;
    }

    .button.button-metal.config_hook:hover {
        background: rgba(221, 235, 248, .8) url(https://raw.githubusercontent.com/MyCodeIsntWorking/Lichess.org/main/Stylus/images/hook-hover.png);
        background-repeat: no-repeat;
        background-position: center;
        color: #4d4d4d;
        text-shadow: 0 0px 0 #fff;
    }

    .button.button-metal.config_friend {
        height: 186px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 1px solid #D9D9D9;
        box-shadow: 0 4px 10px 0px rgb(0 0 0 / 0%);
        background: #FFFFFF url(https://raw.githubusercontent.com/MyCodeIsntWorking/Lichess.org/main/Stylus/images/friend.png);
        background-repeat: no-repeat;
        background-position: center;
        color: #4D4D4D;
        transition: all 150ms;
        width: 205px;
        margin-top: -6px;
        font-size: 14px;
        font-weight: 600;
    }

    .button.button-metal.config_friend:hover {
        background: rgba(221, 235, 248, .8) url(https://raw.githubusercontent.com/MyCodeIsntWorking/Lichess.org/main/Stylus/images/friend-hover.png);
        background-repeat: no-repeat;
        background-position: center;
        color: #4d4d4d;
        text-shadow: 0 0px 0 #fff;
    }

    .button.button-metal.config_ai {
        height: 186px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 1px solid #D9D9D9;
        box-shadow: 0 4px 10px 0px rgb(0 0 0 / 0%);
        background: #FFFFFF url(https://raw.githubusercontent.com/MyCodeIsntWorking/Lichess.org/main/Stylus/images/ai-light.png);
        background-repeat: no-repeat;
        background-position: center;
        color: #4D4D4D;
        transition: all 150ms;
        width: 205px;
        margin-top: -6px;
        font-size: 14px;
        font-weight: 600;
    }

    .button.button-metal.config_ai:hover {
        background: rgba(221, 235, 248, .8) url(https://raw.githubusercontent.com/MyCodeIsntWorking/Lichess.org/main/Stylus/images/ai-light-hover.png);
        background-repeat: no-repeat;
        background-position: center;
        color: #4d4d4d;
        text-shadow: 0 0px 0 #fff;
    }

    .lobby__counters {
        height: 186px;
        justify-content: center;
        align-items: center;
        border: 1px solid #D9D9D9;
        border-radius: 3px;
        background: #FFFFFF;
        width: 205px;
        margin-bottom: 43.0em;
    }

    #nb_connected_players {
        margin-top: 8em;
    }

    #nb_games_in_play {
        margin-bottom: 3.5em;
    }


    /* Lobby Play */
    .tabs-horiz span::after {
        display: none;
    }

    .tabs-horiz {
        border-bottom: 2px solid transparent;
    }

    .lpools>div:hover {
        background: rgba(221, 235, 248, .8);
        color: #4d4d4d;
    }

    .hooks__list tr.join:hover td {
        background: rgba(221, 235, 248, .8);
        color: #4d4d4d;
    }

    .lobby__app {
        height: 830px;
        width: 100%;
    }

    .lpools>div {
        height: 186px;
    }


    /* Support */
    /* Donate */
    .lobby__support {
        width: 225px;
        margin-top: -30px;
        margin-left: -7px;
    }

    .lobby__support i::before,
    .lobby__support__text {
        color: #629924;
    }

    .lobby__support a:hover {
        background: #629924;
    }

    .lobby__support a:hover .lobby__support__text,
    .lobby__support a:hover i::before {
        color: #FFFFFF;
    }

    #main-wrap>main>div.lobby__support>a:nth-child(1) {
        height: 75px;
    }

    #main-wrap>main>div.lobby__support>a:nth-child(1)>i {
        margin-left: 30px;
    }

    #main-wrap>main>div.lobby__support>a:nth-child(1)>span>span {
        display: none;
    }

    /* Store */
    #main-wrap>main>div.lobby__support>a:nth-child(2) {
        margin-top: -5px;
        height: 75px;
    }

    #main-wrap>main>div.lobby__support>a:nth-child(2)>i:before,
    #main-wrap>main>div.lobby__support>a:nth-child(2)>span>strong {
        color: #bf811d;
    }

    #main-wrap>main>div.lobby__support>a:nth-child(2)>span>span {
        display: none;
    }

    #main-wrap>main>div.lobby__support>a:nth-child(2)>i {
        margin-left: 25px;
    }

    #main-wrap>main>div.lobby__support>a:nth-child(2):hover {
        background: #bf811d;
    }

    #main-wrap>main>div.lobby__support>a:nth-child(2):hover .lobby__support__text strong,
    #main-wrap>main>div.lobby__support>a:nth-child(2):hover i::before {
        color: #FFFFFF;
    }


    /* About */
    .lobby__about {
        justify-content: center;
        align-content: center;
        background: #FFFFFF;
        border-radius: 3px;
        height: 75px;
        margin-top: -30px;
        margin-right: -7px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    .lobby__about a {
        margin-right: 0.6em;
        margin-left: 0.6em;
    }

    .connect-links {
        display: flex;
        justify-content: center;
        align-content: center;
    }





    /*********************************/
    /*                               */
    /*             PLAY              */
    /*                               */
    /*********************************/
    /* Notification */
    .rmoves o2.active,
    .rmoves u8t.active {
        font-weight: bold;
        background: #D9D9D9;
        color: #ccc;
    }

    .tview2 move.current {
        border: 0px solid #d64f00;
    }

    .rmoves i5z {
        background: transparent;
    }

    /* Scoreline */
    .crosstable__matchup,
    .crosstable povs.current a {
        opacity: 1;
        text-shadow: 0 1px 0 transparent;
        font-weight: bold;
    }

    .crosstable povs a.win,
    .crosstable povs a.loss,
    .crosstable povs a {
        opacity: 1;
        text-shadow: 0 1px 0 transparent;
        font-weight: normal;
    }

    /* User online / offline */
    .user-link.online .line {
        color: #629924;
        opacity: .9;
    }

    .user-link.online .line::before {
        content: '';
    }

    .user-link .line {
        color: #4D4D4D;
        opacity: 0.2;
    }

    .user-link .line::before {
        content: '';
    }

    /* Tournament */
    .tour__meta section::before,
    .swiss__meta section::before {
        color: #d64f00;
    }

    .arena-list .slist td i,
    .scheduled a::before {
        color: #d64f00;
        opacity: 1;
    }

    .tour__meta section.conditions::before {
        color: #CC3333;
    }

    .game__tournament .clock {
        color: #629924;
    }





    /*********************************/
    /*                               */
    /*         ROUND & WATCH         */
    /*                               */
    /*********************************/
    .round__side {
        max-width: 25em;
    }





    /*********************************/
    /*                               */
    /*            PUZZLES            */
    /*                               */
    /*********************************/
    /* Puzzle */
    .puzzle__side__metas .infos.puzzle::before {
        color: #4D4D4D;
    }

    .puzzle__side__metas .infos::before {
        color: #d64f00;
    }

    .puzzle__side__user__rating strong {
        color: #629924;
    }

    .puzzle__session a.current {
        background: #3279B5;
    }

    /* Puzzle Streak */
    .puzzle__side__streak__info h1,
    .game-over {
        color: #d64f00;
    }

    .puzzle__side__streak__score {
        color: #629924;
    }

    /* Puzzle Racer */
    .racer .puz-side__top::before {
        background-image: url(https://raw.githubusercontent.com/MyCodeIsntWorking/Lichess.org/main/Stylus/images/checkered-flag.png);
        background-repeat: no-repeat;
    }

    .puz-side__solved__text {
        color: #d64f00;
    }

    .puz-combo__bar__in {
        background: #d64f00;
        box-shadow: 0 0 15px #d64f00;
    }

    #main-wrap>main>div>div.puz-side>div.racer__post>h2 {
        display: none;
    }

    .race__post__rank {
        color: #629924;
        font-size: 20px;
    }

    .racer .button-navaway,
    .racer .puz-side__join .button {
        margin-top: 5em;
    }

    .racer__race__track--me .racer__race__player .user-link,
    .racer__race__track--me .racer__race__player anonymous,
    .racer__race__track--first .racer__race__score {
        color: #d64f00;
    }

    .racer__race__track--me .racer__race__player .user-link:hover {
        color: #3692e7;
    }

    .racer__race::before {
        background-image: url(https://raw.githubusercontent.com/MyCodeIsntWorking/Lichess.org/main/Stylus/images/road1.png);
        background-position-y: 6px;
    }

    .puz-side__start,
    .racer__pre__message__pov {
        color: #d64f00;
    }

    /* Puzzle Storm */
    .highlight-alltime .storm-dashboard__high__period:first-child {
        background: linear-gradient(145deg, rgba(255, 255, 255, 0.3) 0%, transparent 45%) #d64f00;
    }

    .puz-side__top::before {
        background-image: url(https://raw.githubusercontent.com/MyCodeIsntWorking/Lichess.org/main/Stylus/images/tornado.png);
    }

    .puz-clock__pov {
        color: #d64f00;
    }





    /*********************************/
    /*                               */
    /*            TIMELINE           */
    /*                               */
    /*********************************/
    main.page-small {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }





    /*********************************/
    /*                               */
    /*             WATCH             */
    /*                               */
    /*********************************/
    /* TV */
    .tv-single .tv-history .now-playing {
        display: none
    }

    .tv-single .tv-history h2 {
        height: 10em;
        color: transparent;
    }

    .game__meta__infos::before {
        color: #d64f00;
    }

    .subnav a,
    .tv-channel>span::before {
        color: rgba(77, 77, 77, .8);
    }

    .tv-channel>span>span {
        text-align: right;
    }

    .tv-channel>span:hover,
    .tv-channel>span:hover::before {
        color: #d64f00;
    }

    .tv-channels.subnav {
        background: #FFFFFF;
        border-radius: 3px;
        padding: 1.4vmin;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        margin-top: -10px;
    }

    /* TV - Half Time */
    #main-wrap>main>aside>div>section:nth-child(1)>div.game__meta__players>div.player.color-icon.is.white.text>i,
    #main-wrap>main>aside>div>section:nth-child(1)>div.game__meta__players>div.player.color-icon.is.black.text>i {
        color: #d64f00;
    }

    /* Tournament Rank */
    .rclock .tour-rank {
        opacity: 1;
        color: #1b78d0;
    }





    /*********************************/
    /*                               */
    /*             TEAM              */
    /*                               */
    /*********************************/
    /* Chat */
    .mchat__messages line.patron {
        color: #629924;
    }
    .mchat__messages i {
        color: #BA3030;
    }
    .mchat__tab input:checked {
        background: #8C8C8C;
        border-color: #AAAAAA;
    }
    .mchat__tab input {
        background: #5E5E5E;
        border-color: #717171;
    }
}
