/* ==UserStyle==
@name           Lichess.org - dark Board
@namespace      https://github.com/MyCodeIsntWorking/Lichess.org/tree/main/Stylus/Boards
@version        1.0.2
@description    dark Board
@author         BrainAFK
@homepageURL    https://github.com/MyCodeIsntWorking/Lichess.org/tree/main/Stylus/Boards
@supportURL     https://github.com/MyCodeIsntWorking/Lichess.org/issues
@updateURL      https://raw.githubusercontent.com/MyCodeIsntWorking/Lichess.org/main/Stylus/Boards/sources/dark.user.css
==/UserStyle== */

@-moz-document url-prefix("https://lichess.org/") {
    .is2d cg-board::before {
        background-image: url("https://raw.githubusercontent.com/MyCodeIsntWorking/Lichess.org/main/Stylus/Boards/sources/boards/dark.jpg") !important;
    }
    .orientation-white .files coord:nth-child(2n+1),
    .orientation-white .ranks coord:nth-child(2n),
    .orientation-black .files coord:nth-child(2n),
    .orientation-black .ranks coord:nth-child(2n+1),
    .orientation-white .files coord:nth-child(2n),
    .orientation-white .ranks coord:nth-child(2n+1),
    .orientation-black .files coord:nth-child(2n+1),
    .orientation-black .ranks coord:nth-child(2n) {
        color: #9c9b9a !important;
    }
    .is2d .pawn.white,
    .is2d .knight.white,
    .is2d .bishop.white,
    .is2d .rook.white,
    .is2d .queen.white,
    .is2d .king.white,
    .is2d .pawn.black,
    .is2d .knight.black,
    .is2d .bishop.black,
    .is2d .rook.black,
    .is2d .queen.black,
    .is2d .king.black,
    .pointer,
    .trash {
        opacity: 0.80 !important;
    }
    square.selected {
        background-color: rgba(27,120,208,0.35) !important;
    }
    square.last-move {
        background-color: rgba(27,120,208,0.20) !important;
    }
    square.move-dest {
        background: radial-gradient(rgba(27,120,208,0.35) 19%, rgba(0,0,0,0) 20%) !important;
    }
    square.move-dest:hover {
        background: rgba(27,120,208,0.35) !important;
    }
    square.oc.move-dest {
        background: radial-gradient(transparent 0%, transparent 79%, rgba(27,120,208,0.35) 80%) !important;
    }
    square.current-premove {
        background-color: rgba(27,120,208,0.35) !important;
    }
    square.premove-dest {
        background: radial-gradient(rgba(27,120,208,0.35) 19%, rgba(0,0,0,0) 20%) !important;
    }
    square.premove-dest:hover {
        background: rgba(27,120,208,0.35) !important;
    }
    square.oc.premove-dest {
        background: radial-gradient(transparent 0%, transparent 79%, rgba(27,120,208,0.35) 80%) !important;
    }
    #promotion-choice square {
        background-color: rgba(27,120,208,0.27) !important;
        border-radius: 0% !important;
        box-shadow: inset 0 0 0 0 transparent !important;
    }
    #promotion-choice square:hover {
        box-shadow: inset 0 0 48px 8px rgba(27,120,208,0.50) !important;
    }
    square.check {
        background: rgba(255,0,0,0.25) !important;
    }
    .board-editor .spare {
        background: rgb(27,120,208,0.15) !important;
        box-shadow: 0 3px 5px rgb(27,120,208,0.25) inset !important;
    }
    .board-editor .spare .no-square.selected-square {
        background: rgba(27,120,208,0.35) !important;
    }
    .board-editor .spare .no-square:hover {
        background: rgba(27,120,208,0.35) !important;
    }
    .board-editor .spare .no-square.trash {
        background: rgba(255,0,0,0.50) !important;
    }
    .board-editor .spare .no-square.trash:hover {
        background: rgba(27,120,208,0.35) !important;
    }
}
