/* ==UserStyle==
@name           Lichess.org - grey-creme Board
@namespace      https://github.com/MyCodeIsntWorking/Lichess.org/tree/main/Stylus/Boards
@version        1.0.2
@description    grey-creme Board
@author         BrainAFK
@homepageURL    https://github.com/MyCodeIsntWorking/Lichess.org/tree/main/Stylus/Boards
@supportURL     https://github.com/MyCodeIsntWorking/Lichess.org/issues
@updateURL      https://raw.githubusercontent.com/MyCodeIsntWorking/Lichess.org/main/Stylus/Boards/sources/grey-creme.user.css
==/UserStyle== */

@-moz-document url-prefix("https://lichess.org/") {
    .is2d cg-board::before {
        background-image: url("https://raw.githubusercontent.com/MyCodeIsntWorking/Lichess.org/main/Stylus/Boards/sources/boards/grey-creme.jpg") !important;
    }
    .orientation-white .files coord:nth-child(2n+1),
    .orientation-white .ranks coord:nth-child(2n),
    .orientation-black .files coord:nth-child(2n),
    .orientation-black .ranks coord:nth-child(2n+1) {
        color: #E7E3D1 !important;
    }
    .orientation-white .files coord:nth-child(2n),
    .orientation-white .ranks coord:nth-child(2n+1),
    .orientation-black .files coord:nth-child(2n+1),
    .orientation-black .ranks coord:nth-child(2n) {
        color: #A3A3A3 !important;
    }
}
