/* ==UserStyle==
@name           Lichess.org - Arrows
@namespace      https://github.com/MyCodeIsntWorking/Lichess.org/tree/main/Stylus/Arrows
@version        1.0.1
@description    Arrows
@author         BrainAFK
@homepageURL    https://github.com/MyCodeIsntWorking/Lichess.org/tree/main/Stylus/Arrows
@supportURL     https://github.com/MyCodeIsntWorking/Lichess.org/issues
@updateURL      https://raw.githubusercontent.com/MyCodeIsntWorking/Lichess.org/main/Stylus/Arrows/sources/arrows.user.css
==/UserStyle== */

@-moz-document url-prefix("https://lichess.org/") {



/* --------------------------------------------------------------- */
/* ---               Customizable Color Settings               --- */
/* --------------------------------------------------------------- */

/* --------------------------------------------------------------- */
/* ---                Colors can you found here:               --- */
/* ---   https://www.w3schools.com/colors/colors_picker.asp    --- */
/* --------------------------------------------------------------- */
    :root {
        --green-arrow: #00ff00;
        --green-circle: #00ff00;
        --red-arrow: #ff00ff;
        --red-circle: #ff00ff;
        --blue-arrow: #00ffff;
        --blue-circle: #00ffff;
        --gold-arrow: #ffff00;
        --gold-circle: #ffff00;
    }



/* ---------------------------------------- */
/* --- DO NOT CHANGE ANYTHING FROM HERE --- */
/* ---------------------------------------- */

/* GREEN arrows and circles   [right] click */
    line[stroke="#15781B"] {
        stroke: var(--green-arrow) !important;
    }
    path[fill="#15781B"] {
        fill: var(--green-arrow) !important;
    }
    circle[stroke="#15781B"] {
        stroke: var(--green-circle) !important;
    }

/* RED arrows and circles   [shift+right] click */
    line[stroke="#882020"] {
        stroke: var(--red-arrow) !important;
    }
    path[fill="#882020"] {
        fill: var(--red-arrow) !important;
    }
    circle[stroke="#882020"] {
        stroke: var(--red-circle) !important;
    }

/* BLUE arrows and circles   [alt+right] click */
    line[stroke="#003088"] {
        stroke: var(--blue-arrow) !important;
    }
    path[fill="#003088"] {
        fill: var(--blue-arrow) !important;
    }
    circle[stroke="#003088"] {
        stroke: var(--blue-circle) !important;
    }

/* GOLD arrows and circles   [shift+alt+right] click*/
    line[stroke="#e68f00"] {
        stroke: var(--gold-arrow) !important;
    }
    path[fill="#e68f00"] {
        fill: var(--gold-arrow) !important;
    }
    circle[stroke="#e68f00"] {
        stroke: var(--gold-circle) !important;
    }
}